<div class="main-photo">
    <img class="w-100" src="../../../../assets/lambo.jpg" alt="InstCar">
  </div>
  <div class="container">
    <div class="row pt-5 pb-2">
      <div class="col col-sm-4 d-flex align-items-center justify-content-center">
        <img [style]="{ width: '75%' }" class="img-fluid" src="../../../../assets/take-photo.jpg" alt="Take a photo" />
      </div>
      <div class="col col-sm-4 d-flex align-items-center justify-content-center">
        <img [style]="{ width: '75%' }"  class="img-fluid" src="../../../../assets/upload-car.jpg" alt="Upload the car" />
      </div>
      <div class="col col-sm-4 d-flex align-items-center justify-content-center">
        <img [style]="{ width: '60%' }"  class="img-fluid" src="../../../../assets/get-likes.jpg" alt="Gather likes" />
      </div>
    </div>
    <div class="row pb-4">
      <div class="col col-sm-4 text-center h3">Take a photo</div>
      <div class="col col-sm-4 text-center h3">Upload your car</div>
      <div class="col col-sm-4 text-center h3">Check how <strong>HOT</strong> it is</div>
    </div>
  </div>
  <img class="w-100" src="../../../../assets/lambo-2.jpg" alt="Cars" />